// Min width classes

.min-w-130 {
    min-width: 130px;
}

// Max width classes
.max-w-100 {
    max-width: 100px;
}

.max-w-125 {
    max-width: 125px;
}

.max-w-200 {
    max-width: 200px;
}

.max-w-250 {
    max-width: 250px;
}

.max-w-350 {
    max-width: 250px;
}

// Special classes

.hidden-button {
    background: none;
    border: none;
}

.clickable {
    cursor: pointer;
}



