.header {
    width: 100%;
    height: $headerHeight;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: $headerColor;
    z-index: $zFixed;
    transition: 0.5s;
    @media (min-width: 768px) {
        height: calc($headerHeight + 1rem);
        padding: 0 2rem 0 calc($sidebarWidth + 2rem);
    }
    &_menu-displayed {
        padding-left: calc($sidebarWidth + 1rem);
        @media (min-width: 768px) {
            padding-left: calc($sidebarWidth + $sidebarExtensionWidth + $sidebarPageGapWidth);
        }
    }

    &__toggle {
        color: $sidebarColor;
        font-size: 1.5rem;
        cursor: pointer;

        &_admin {
            color: $adminSidebarColor;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__authorisation {
        display: flex;
    }
}



