@use '../abstracts/variables' as *;

.entityTable {

    th a {
        color: $tableHeaderColor;
    }

    tbody tr:not(.hiddenRow) {
        height: 65px;
    }

    .hiddenRow td {
        padding: 0 !important;
    }

    &__fullInfo {
        /*
        The 99.5% width is needed to avoid the horizontal scroll that appears when using the bootstrap
        table-responsive class
        */
        width: 99.5%;
        padding: 10px 10px;
        background-color: $fullInfoBackgroundColor;
        text-align: start;
    }

    &__infoBlock {
        background-color: $infoBlockBackgroundColor;
        padding: 10px 0;
        border-radius: 10px;
        box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.3);
        font-size: 0.95rem;
    }

    &__fieldName {
        text-align: end;
        font-weight: 600;
    }

    &__fieldValue {
        max-width: 415px;
        overflow-wrap: break-word;
    }
}


