// FONTS
$defaultFont: "Figtree", sans-serif;
$defaultFontSize: 1rem;

// SIZES
$headerHeight: 3.5rem;
$sidebarWidth: 68px;
$sidebarExtensionWidth: 170px;
$sidebarPageGapWidth: 32px;

// Z-INDEXES
$zFixed: 100;

// COLORS

// Sidebar
$sidebarColor: #059669;
$adminSidebarColor: #be185d;
$sidebarActiveColor: #f7f6fb;
$sidebarDisabledColor: #e0e0e0;

// Header
$headerColor: #f7f6fb;

// Tables
$tableHeaderColor: #212529;
$fullInfoBackgroundColor: #f8f8f8;
$infoBlockBackgroundColor: #eeeeee;

// Icons
$iconColor: gray;
$iconHoverColor: #0066ff;

// Statuses
$statusText: #fff;
$newStatus: #b8c22d;
$awaitingResponseStatus: #F57C00;
$inProgressStatus: #BF360C;
$completedStatus: #1565C0;
$cancelledStatus: #757575;
$successStatus: #0aa237;




